[submodule "kdcount"]
	path = extern/kdcount
	url = http://github.com/rainwoodman/kdcount
[submodule "pypm"]
	path = extern/pypm
	url = http://github.com/rainwoodman/pypm
[submodule "pfft-python"]
	path = extern/pfft-python
	url = http://github.com/rainwoodman/pfft-python
[submodule "MP-sort"]
	path = extern/MP-sort
	url = http://github.com/rainwoodman/MP-sort
[submodule "sharedmem"]
	path = extern/sharedmem
	url = http://github.com/rainwoodman/sharedmem
