mode: 1d
Nmesh: 256
field:
    DataSource:
        plugin: FastPM
        path: ../data/fastpm_1.0000
        rsd: {los}
    Transfer: [NormalizeDC, RemoveDC, AnisotropicCIC]
    
los: {los}
output: ../output/test_batch_power_fastpm_1d_{los}los_{tag}.txt