cosmo : {Om0: 0.28, H0: 70}

mode: 1d
Nmesh: 256
field:
    DataSource:
        plugin: FastPM
        path: ${NBKIT_CACHE}/data/fastpm_1.0000
        rsd: {los}
    Transfer: [NormalizeDC, RemoveDC, AnisotropicCIC]
    
los: {los}
output: ${NBKIT_HOME}/examples/output/test_batch_power_fastpm_1d_{los}los_{tag}.dat